
  <div class="row futureicons">
    <div class="col-lg-1 icons iconfirst"><span class="day">Fri</span ><img src="../../assets/images/fog.png" height=48px width=48px><span>94</span></div>
    <div class="col-lg-1 icons"><span class="day">Sat</span ><img src="../../assets/images/rain_s_cloudy.png" height=48px width=48px><span>94</span></div>
    <div class="col-lg-1 icons"><span class="day">Sun</span ><img src="../../assets/images/rain_s_cloudy.png" height=48px width=48px><span>94</span> </div>
    <div class="col-lg-1 icons"><span class="day">Mon</span ><img src="../../assets/images/rain_s_cloudy.png" height=48px width=48px><span>94</span></div>
    <div class="col-lg-1 icons"><span class="day">Tue</span ><img src="../../assets/images/rain_s_cloudy.png" height=48px width=48px><span>94</span></div>
    <div class="col-lg-1 icons"><span class="day">Wed</span><img src="../../assets/images/rain_s_cloudy.png" height=48px width=48px><span>94</span></div>
    <div class="col-lg-1 icons"><span class="day">Thu</span><img src="../../assets/images/rain_s_cloudy.png" height=48px width=48px><span>94</span></div>
    <div class="col-lg-1 icons"><span class="day">Sat</span><img src="../../assets/images/rain_s_cloudy.png" height=48px width=48px><span>94</span></div>
  </div>
